<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A tool to automatically generate basic heuristics for a dataset">
    <meta name="keywords" content="Heuristics, Dataset, Python, JS, ML, Machine Learning">
    <meta name="author" content="Ben Andrew">
    <title>Heuristic generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='album.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='prism.css') }}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>Heuristic generator</strong>
                    <a class="float-right" style="color: white;" href="https://github.com/BenAAndrew/auto-heuristic">
                        <i class="fa fa-2x fa-github"></i>
                    </a>
                </a>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Heuristic generator</h1>
                <p class="lead text-muted">A tool to automatically generate basic rules for a dataset. Upload a CSV to get started.</p>
                <div class="card">
                    <article class="card-body">
                        <form action="/" method="POST" enctype="multipart/form-data">
                            <div class="form-group custom-file">
                                <input type="file" class="custom-file-input" id="file" name="file" required>
                                <label class="custom-file-label" for="file">Choose CSV file</label>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <select class="form-control" id="target" name="target" required>
                                    <option selected disabled>Target Column</option>
                                </select>
                            </div>
                            <input class="btn btn-primary" type="submit" />                                                      
                        </form>
                    </article>
                </div> 
            </div>
        </section>

        {% if options %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="accordion" id="accordion">
                            {% for option in options %}
                                <div class="card">
                                    <div class="card-header" id="heading-{{ option.depth }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ option.depth }}" aria-expanded="false" aria-controls="collapse-{{ option.depth }}">
                                                Depth: {{ option.depth }} (score {{ (option.score*100)|int }}%)
                                            </button>
                                        </h2>
                                    </div>
                                
                                    <div id="collapse-{{ option.depth }}" class="collapse" aria-labelledby="heading-{{ option.depth }}" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>Python</h3>
                                                    <button type="button" class="btn btn-outline-primary" onclick="navigator.clipboard.writeText('{{ option.python_code | replace('\n',"\\n") }}')">Copy</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="download('predict.py', '{{ option.python_code | replace('\n',"\\n") }}')">Download</button>
                                                    <pre>
<code class="language-python">{{ option.python_code }}</code>
                                                    </pre>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>Javascript</h3>
                                                    <button type="button" class="btn btn-outline-primary" onclick="navigator.clipboard.writeText('{{ option.js_code | replace('\n',"\\n") }}')">Copy</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="download('predict.js', '{{ option.js_code | replace('\n',"\\n") }}')">Download</button>
                                                    <pre>
<code class="language-javascript">{{ option.js_code }}</code>
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='prism.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>